.userCard {
    margin: 20px 0px !important;
}

.spacing {
    margin: 20px 0px;
}

.health {
    margin: 20px 0px;
}

.newsContent {
    margin: 30px 0px !important;
}
.newsTitle {
    color: darkblue;
}

.brand {
  padding: 20px;
  margin: 60px 0px 60px 0px;
}

.myTitle{
    text-align: center;
    vertical-align: center;
}

.searchBar{
    padding-top: 10px;
}

/* nutrition Image */
.title {
    line-height: .83em;
    font-size: 2.7em;
    padding-bottom: 4px;
    font-family: 'Archivo Black';
    white-space: nowrap;
    letter-spacing: -2px;
}


.bar1{
    height: 10px;
    margin-top: 3px;
    background: black;
    font-size: 1px;
}

.bar2{
    height: 5px;
    background: black;
    font-size: 1px;
}


.line{
    border-top: 1px solid black;
    padding: 1px 0;
    display: flex;
    justify-content: space-between;
}

.line2{
    border-top: 1px solid black;
    padding: 1px 0;
    display: flex;
    justify-content: flex-end;
}

.line3{
    border-top: 1px solid black;
    padding: 1px 0;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.nutritionLabel{
    font-size: 90%;
    margin-bottom: 1.1em;
    padding: .68em;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    border: 2px solid #000;
    line-height: normal;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.logo {
    display: none !important;
}

#logo {
    width: 18%;
}

/*Media Query*/
  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    #backBtn {
        position: fixed;
        z-index: 11;
        top: 80px;
    }
    .logo {
        display: inline-block !important;
    }
    #logo {
        display:none !important;
    }
  }

#overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 81.25px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85); /* Black background with opacity */
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#aboutusCard, #health {
    margin-bottom: 10px;
}


.search {
    z-index: 7;
}

.brand {
    z-index: 7;
}

.brand h1 {
    color: white;
}
  